
        body {
          background-image: url('inkBorder.png');
          background-repeat: no-repeat;  
          background-size: 100% 100%;
          color: #261e2e;
          padding-top: 4%;
        }