        
        body {
          background-image: url('inkBorder.png');
          background-repeat: no-repeat;  
          background-size: 100% 100%;
          color: #261e2e;
          padding-top: 4%;
        }

        h1.likert-header {
          padding-left:4.25%;
          margin:20px 0 0;
        }


        /* Questions */
        form .statement {
          display:block;
          font-size: 20px;
          font-weight: bold;
          padding: 30px 0 0 4.25%;
          margin-bottom:10px;
        }
        
        /* Choice text */
        form .likert {
          list-style:none;
          width:100%;
          margin:0;
          padding:0 0 35px;
          display:block;
          color: #636262;
          border-bottom:2px solid #efefef;
        }
        form .likert:last-of-type {border-bottom:0;}
  
        
        /* The Line */
        form .likert:before { 
          content: '';
          position:relative;
          top:11px;
          left:9.5%;
          display:block;
          background-color:#efefef;
          height:6px;
          width:78%;
        }

        /* Choice text */
        form .likert li {
          display:inline-block;
          width:19%;
          text-align:center;
          vertical-align: top;
        }

        
        form .likert li input[type="radio"] {
          display:block;
          position:relative;
          top: -2px;
          left:50%;
          cursor: pointer; 
          width: 1.8rem;
          height: 1.8rem;
          background: #e4e3e3;
          border: 0.1rem solid #d1d1d1;   
          border-radius: 50%
        }

        form .likert li input[type="radio"]:checked {
          display:block;
          width: 1.8rem;
          height: 1.8rem;
          background: #9b4dca;
          border: 0.4rem solid #d1d1d1;;
          border-radius: 50%
        }



    /*  [type="checkbox"] + label:before, [type="radio"] + label:before
      {
          content: '';
          position: absolute;
          left: 0;
          top: 0.4rem;
          width: 1.8rem;
          height: 1.8rem;
          border: 0.1rem solid #d1d1d1;
      }

      [type="radio"] + label:before, [type="radio"] + label:after
      {
          border-radius: 50%;
      }
      
    /*  [type="checkbox"]:checked + label:after,[type="radio"]:checked + label:after
      {
          content: '';
          width: 0.8rem;
          height: 0.8rem;
          background: #9b4dca;
          position: absolute;
          top: 0.9rem;
          left: 0.5rem;
      }


      /* For Checkbox */
         [type="checkbox"] + label, [type="radio"] + label
      {
          position: relative;
          padding-left: 2.5rem;
          /* cursor: pointer; */
          display: inline-block;
      }


      /* Animation */
          input {
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;

      border-radius: 50%;
      width: 16px;
      height: 16px;

      border: 2px solid #999;
      transition: 0.2s all linear;
      margin-right: 5px;

      position: relative;
      top: 4px;
    }