        
        body {
          background-image: url('inkBorder.png');
          background-repeat: no-repeat;  
          background-size: 100% 100%;
          color: #261e2e;
          padding-top: 4%;
        }

        h1.likert-header {
          padding-left:4.25%;
          margin:20px 0 0;
        }
        form .statement {
          display:block;
          font-size: 14px;
          font-weight: bold;
          padding: 30px 0 0 4.25%;
          margin-bottom:10px;
        }
        form .likert {
          list-style:none;
          width:100%;
          margin:0;
          padding:0 0 35px;
          display:block;
          border-bottom:2px solid #efefef;
        }
        form .likert:last-of-type {border-bottom:0;}
        form .likert:before {
          content: '';
          position:relative;
          top:11px;
          left:9.5%;
          display:block;
          background-color:#efefef;
          height:4px;
          width:78%;
        }
        form .likert li {
          display:inline-block;
          width:19%;
          text-align:center;
          vertical-align: top;
        }
        form .likert li input[type=radio] {
          display:block;
          position:relative;
          top:0;
          left:50%;
          margin-left:-6px;
          
        }


  /*    [type="checkbox"], [type="radio"]
      {
          position: absolute;
          opacity:0;
      }
      [type="checkbox"] + label, [type="radio"] + label
      {
          position: relative;
          padding-left: 2.5rem;
          cursor: pointer;
          display: inline-block;
      }
      [type="checkbox"] + label:before, [type="radio"] + label:before
      {
          content: '';
          position: absolute;
          left: 0;
          top: 0.4rem;
          width: 1.8rem;
          height: 1.8rem;
          border: 0.1rem solid #d1d1d1;
      }

      [type="radio"] + label:before, [type="radio"] + label:after
      {
          border-radius: 50%;
      }
      [type="checkbox"]:checked + label:after,
      [type="radio"]:checked + label:after
      {
          content: '';
          width: 0.8rem;
          height: 0.8rem;
          background: #9b4dca;
          position: absolute;
          top: 0.9rem;
          left: 0.5rem;
      }
      [type="radio"]:disabled + label:before, [type="checkbox"]:disabled + label:before
      {
          background-color: #d1d1d1;
      }
      [type="radio"]:disabled + label, [type="checkbox"]:disabled + label
      {
          color: #d1d1d1;
      }
      [type="radio"]:disabled:checked + label:after, [type="checkbox"]:disabled:checked + label:after
      {
          background: #606c76;
      }